<ion-view view-title="Pulse">
 <ion-nav-buttons side="right">
    <button class="button" ng-click="addPost()">
      +
    </button>
  </ion-nav-buttons>
    <ion-content>
    <div class="list">
         <ion-item ng-repeat="entry in entries" class="item" href="#/listview/{{entry.id}}">
            <!--<img ng-src="{{entry.img}}">-->
            <div class="votingButtons" style="width: 20px;height: 50px; z-index: 999; margin: 0 0 0 0; float: left">
                <!-- will replace text w/ pretty imgs -->

                <a ng-click="upvoteToggle($index)" style="display: block"><img src="img/upvoteIcon.png"  width="15"></a>
                <p>{{entry.score}}</p>
                <a ng-click="downvoteToggle($index)" style="display: block"><img src="img/downvoteIcon.png"  width="15"></a>
            </div>
            <div class="content" style="margin-left: 30px; margin-top: 10px">
                <h2 style="white-space: normal">{{entry.description}}</h2>
                <p>{{entry.geolocation}}</p>
                
            </div>
         </ion-item>
     </div>
    </ion-content>
</ion-view>