<ion-view view-title="Localpulse">

 <ion-nav-buttons side="right">
    <button class="button" ng-click="addPost()">
      Post
    </button>
  </ion-nav-buttons>
    <ion-content class="problem-list">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list">
         <div ng-repeat="entry in entries" class="item problem-entry" ng-style="{'background': 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(&quot;http://localpulse.org/' + entry.pictures[0] + '&quot;)'}">
            <div class="wrapper">
                  <div class="votingButtons" style="width: 20px;height: 50px; z-index: 999; margin: 0 0 0 0; float: left; color: white">
                      <a ng-click="upvoteToggle($index)" style="display: block"><img src="img/upvote.png" ng-if="!didUpvote[$index]" width="15"><img src="img/upvote-fill.png" ng-if="didUpvote[$index]" width="15"></a>
                      <p class="votes">{{entry.votes}}</p>
                      <a ng-click="downvoteToggle($index)" style="display: block"><img src="img/downvote.png" ng-if="!didDownvote[$index]" width="15"><img src="img/downvote-fill.png" ng-if="didDownvote[$index]" width="15"></a>
                  </div>
                  <div class="content" style="margin-left: 30px; margin-top: 10px" ui-sref="tab.listdetail({id: '{{entry.objectId}}', entry: '{{entry | json}}'}) ">
                      <h2 style="white-space: normal">{{entry.description}}</h2>
                      <p>{{entry.geolocation}}</p>
                  </div>
            </div>
          </div>
     </div>
    </ion-content>
</ion-view>