<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Recent Events" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/listview">
    <ion-nav-view name="tab-listview"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Map" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/maps">
    <ion-nav-view name="tab-maps"></ion-nav-view>
  </ion-tab>

  <!-- <ion&#45;tab title="Settings" icon&#45;off="ion&#45;ios&#45;gear&#45;outline" icon&#45;on="ion&#45;ios&#45;gear" href="#/tab/account"> -->
  <!--   <ion&#45;nav&#45;view name="tab&#45;account"></ion&#45;nav&#45;view> -->
  <!-- </ion&#45;tab> -->
</ion-tabs>
