<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Recent Events" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/listview">
    <ion-nav-view name="tab-listview"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Map" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/maps">
    <ion-nav-view name="tab-maps"></ion-nav-view>
  </ion-tab>

 <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
